apiVersion: v1
kind: Pod
metadata:
  name: curl-tester
spec:
  imagePullSecrets:
  - name: dockerhub-secret
  containers:
    - name: curl
      image: curlimages/curl:latest
      command: ["sh", "-c", "sleep 3600"]  # 長く起動させておく
