apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ClusterManagementAddOn
metadata:
  name: argocd-agent
  annotations:
    addon.open-cluster-management.io/lifecycle: "addon-manager"
spec:
  addOnMeta:
    description: Argo CD Agent
    displayName: Argo CD Agent
  supportedConfigs:
    - group: addon.open-cluster-management.io
      resource: addontemplates
      defaultConfig:
        name: argocd-agent
  installStrategy:
    type: Placements
    placements:
    - name: global
      namespace: open-cluster-management-hub
