apiVersion: work.open-cluster-management.io/v1
kind: ManifestWork
metadata:
  name: sample-scorer-deployment
  namespace: ${CLUSTER_NAME}
spec:
  workload:
    manifests:
      - apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: sample-scorer
          namespace: dynamic-scoring
          annotations:
            skupper.io/address: sample-scorer
            skupper.io/port: "8000"
            skupper.io/proxy: "tcp"
        spec:
          replicas: 1
          selector:
            matchLabels:
              app: sample-scorer
          template:
            metadata:
              labels:
                app: sample-scorer
            spec:
              containers:
                - name: sample-scorer
                  image: ${SAMPLE_SCORER_IMAGE_NAME}
                  imagePullPolicy: Never
                  ports:
                    - containerPort: 8000
      - apiVersion: v1
        kind: Service
        metadata:
          name: sample-scorer-nodeport
          namespace: dynamic-scoring
        spec:
          type: NodePort # Use NodePort to expose the service on a specific port
          selector:
            app: sample-scorer
          ports:
            - protocol: TCP
              port: 8000
              targetPort: 8000
              nodePort: 30007