{{- if or (eq .ListenerType "NodePort") (eq .ListenerType "LoadBalancer") }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  type: {{ .ListenerType }}
  selector:
    job-name: {{ .Name }}
  ports:
  - protocol: TCP
    port: {{ .ListenerPort }}
    targetPort: {{ .ListenerPort }}
{{- end }}