---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: dynamicscoringconfigs.dynamic-scoring.open-cluster-management.io
spec:
  group: dynamic-scoring.open-cluster-management.io
  names:
    kind: DynamicScoringConfig
    listKind: DynamicScoringConfigList
    plural: dynamicscoringconfigs
    singular: dynamicscoringconfig
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DynamicScoringConfig is the Schema for the dynamicscoringconfigs
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DynamicScoringConfigSpec defines the desired state of DynamicScoringConfig.
            properties:
              masks:
                description: |-
                  Masks defines a list of masks used to filter out unnecessary scores for specific clusters.
                  For example, if a mask specifies a cluster name, only scores related to that cluster will be considered.
                items:
                  properties:
                    clusterName:
                      type: string
                    scoreName:
                      type: string
                  required:
                  - clusterName
                  - scoreName
                  type: object
                type: array
            type: object
          status:
            description: DynamicScoringConfigStatus defines the observed state of
              DynamicScoringConfig.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
