apiVersion: v1
kind: ServiceAccount
metadata:
  name: dynamic-scoring-framework-controller
  namespace: {{ .Values.hubSetting.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: dynamic-scoring-framework-leader-election-role
  namespace: {{ .Values.hubSetting.namespace }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-dynamicscorer-admin-role
rules:
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscorers
  verbs:
  - '*'
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscorers/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-dynamicscorer-editor-role
rules:
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscorers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscorers/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-dynamicscorer-viewer-role
rules:
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscorers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscorers/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-dynamicscoringconfig-admin-role
rules:
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscoringconfigs
  verbs:
  - '*'
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscoringconfigs/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-dynamicscoringconfig-editor-role
rules:
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscoringconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscoringconfigs/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-dynamicscoringconfig-viewer-role
rules:
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscoringconfigs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscoringconfigs/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-manager-role
rules:
- apiGroups:
  - cluster.open-cluster-management.io
  resources:
  - managedclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscorers
  - dynamicscoringconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscorers/finalizers
  - dynamicscoringconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - dynamic-scoring.open-cluster-management.io
  resources:
  - dynamicscorers/status
  - dynamicscoringconfigs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - work.open-cluster-management.io
  resources:
  - manifestworks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-metrics-auth-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-leader-election-rolebinding
  namespace: {{ .Values.hubSetting.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: dynamic-scoring-framework-leader-election-role
subjects:
- kind: ServiceAccount
  name: dynamic-scoring-framework-controller
  namespace: {{ .Values.hubSetting.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dynamic-scoring-framework-manager-role
subjects:
- kind: ServiceAccount
  name: dynamic-scoring-framework-controller
  namespace: {{ .Values.hubSetting.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
  name: dynamic-scoring-framework-metrics-auth-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dynamic-scoring-framework-metrics-auth-role
subjects:
- kind: ServiceAccount
  name: dynamic-scoring-framework-controller
  namespace: {{ .Values.hubSetting.namespace }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
    control-plane: controller-manager
  name: dynamic-scoring-framework-controller-metrics-service
  namespace: {{ .Values.hubSetting.namespace }}
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    app.kubernetes.io/name: dynamic-scoring-framework
    control-plane: controller-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: dynamic-scoring-framework
    control-plane: controller-manager
  name: dynamic-scoring-framework-controller
  namespace: {{ .Values.hubSetting.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: dynamic-scoring-framework
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/name: dynamic-scoring-framework
        control-plane: controller-manager
    spec:
      containers:
      - args:
        - --metrics-bind-address=:8443
        - --leader-elect
        - --health-probe-bind-address=:8081
        command:
        - /manager
        image: "{{ .Values.hubSetting.resourceController.image.name }}:{{ .Values.hubSetting.resourceController.image.tag }}"
        imagePullPolicy: {{ .Values.hubSetting.resourceController.image.pullPolicy }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        ports: []
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        volumeMounts: []
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: dynamic-scoring-framework-controller
      terminationGracePeriodSeconds: 10
      volumes: []
