apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: argocd-agent-principal
    app.kubernetes.io/part-of: argocd-agent
    app.kubernetes.io/component: principal
  name: argocd-agent-principal
  namespace: open-cluster-management-hub
spec:
  type: LoadBalancer
  ports:
  - name: https
    protocol: TCP
    port: {{ .Values.agent.principal.server.port }}
    targetPort: 8443
  selector:
    app.kubernetes.io/name: argocd-agent-principal
